{% extends 'ygo_market_watch/home.html' %}

{% block title %}
    YGO Price Checker
{% endblock %}

{% block content %}
    <h1>YGO Price Checker</h1>  

    <body> 
        <p>Search for Yu-Gi-Oh cards using its name or set ID, and favorite the cards who's price you'd like to keep a close eye on!<br>
            Favorited Cards will be displayed on the home page to easily compare with other cards, and can be removed by unfavoriting.<p/>
        {% if cards_with_images %}
            <ul>
                {% for c, card_image in cards_with_images.items %}
                        <img src="{{ card_image }}" alt="Card Image">
                        <li>
                            <strong>Card:</strong> {{ c.Card_name }}<br>
                            <strong>Print Tag:</strong> {{ c.print_tag }}<br>
                            <strong>Set Name:</strong> {{ c.name_of_set }}<br>
                            <strong>Average Price:</strong> {{ c.average_price }}<br>
                        </li>
                        <form method="post" action="{% url 'makeFavCard' %}">
                            {% csrf_token %}
                            <input type="hidden" name="print_tag" value="{{ c.print_tag }}">
                            <button type="submit">Favorite</button>
                        </form>
                {% endfor %}
            </ul>
        {% else %}
            <p>No favorite cards found.</p>
        {% endif %}
     <body>


{% endblock %}

